#language-selector .language {
  cursor: pointer;
  font-weight: normal;
}

#language-selector .language.active {
  font-weight: bold;
}

#language-selector .language:hover {
  color: #f6d54e !important;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.success {
  color: #30be00;
}

.danger {
  color: #be0000;
}

.hidden {
  display: none;
}

.support-container{
 display: flex;
}

.support-container-item{
  width: 100%; 
  padding: 30px; 
  border: 15px solid transparent;
}


.facebook-container, .instagram-container, .webpage-container {
  justify-content: center;
}

.supporter-content-container {
  display: flex;
  align-items: center;
}

.igna-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.facebook-logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.facebook-logo-hidden {
  opacity: 0;
}

.facebook-container:hover .facebook-logo {
  opacity: 0;
}

.facebook-container:hover .facebook-logo-hidden {
  opacity: 1;
}
/* insta */
.instagram-logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.instagram-logo-hidden {
  opacity: 0;
}

.instagram-container:hover .instagram-logo {
  opacity: 0;
}

.instagram-container:hover .instagram-logo-hidden {
  opacity: 1;
}

.supporter-text-container{
  margin-top: 60px;
}

.u-section-4 .u-text-igna {
  /* margin: -80px 0 0 70px; */
  margin: 0;
  color: #111111;
}

.u-section-4 .u-group-igna {
  justify-content: center;
}

.u-section-4 .u-sheet-igna {
  min-height: 100px;
}

.u-section-4 .u-list-igna {
  margin-top: 20px;
  margin-bottom: -27px;
}

.icon-m {
  margin-left: 16px;
}

.igna-logo {
  width: 75px!important;
}

.igna-title {
  text-wrap: nowrap;
}

@media (max-width: 995.99px) {
  .igna-title {
    text-wrap: wrap;
    font-size: 1.5rem;
  }
}


@media (max-width: 767px) {
  .support-container{
    flex-direction: column;
  }

  .support-container-item{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }

  .igna-title {
    text-wrap: wrap;
  }

  .igna-logo {
    width: 65px!important;
  }

  .igna-title {
    font-size: 1.4rem;
  }

  .icon-m {
    margin-left: 8px;
  }

  .u-section-4 .u-group-igna {
    margin-left: 0px;
    width: 65px;
  }
}

@media (max-width: 575px) {

  .igna-container {
    align-items: flex-start;
  }

  .u-section-4 .u-group-igna {
    display: block;
  }

  .u-section-4 .u-text-igna {
    margin: 0;
  }
}